registry=https://abp.pkgs.visualstudio.com/Avto.Pro/_packaging/Avtopro_Feed/npm/registry/
always-auth=true

# npm prior to v8 default behavior
# Temporary fix for leaflet-react peer-dependency from react@17
legacy-peer-deps=true
